extends layout

block content
    .popup
        .popup__box
            button.icon-small.btn.btn-close.icon-close
                svg.icon.icon-close: use(xlink:href="/img/sprite.svg#icon-circle-with-cross")
            form.login(action="/login" method="POST")
                .form__box.auth__box.form__email
                    input.form__input.auth__input(type="email" name="email" placeholder="Email Address" required)
                    label.form__label.auth__label(for="email") Email Address
                .form__box.auth__box.form__password
                    input.form__input.auth__input(type="password" minlength="8" name="password" placeholder="Password" required)
                    label.form__label.auth__label(for="password") Password
                .form-buttons.auth-buttons
                    button.btn.btn-inline.btn-login log In
                    a(href="#").btn.btn-inline.btn-signup register
    main.main__blog
        figure.main__blog--img
            .main__blog--overlay &nbsp;
            img.main__blog--content(src=`/img/${blog.image}` alt="Blog Image")
            .main__blog--heading= blog.title
        .main__blog--body
            .main__blog--blog
                .main__blog--summary= blog.summary
                .main__blog--description
                    - const description = blog.description.split('\n')
                    each paragraph in description
                        p.paragraph= paragraph
                .blog__stats
                    .blog__review
                        .blog__likes
                            button.icon-small.btn-likes.icon-likes.icon__stats
                                if like
                                    svg.icon.icon-heart(data-isnotliked="false")
                                        use(xlink:href="/img/sprite.svg#icon-heart")
                                else
                                    svg.icon.icon-heart-outlined(data-isnotliked="true")
                                        use(xlink:href="/img/sprite.svg#icon-heart-outlined")
                            span.blog__likes--number= blog.likes
                        .blog__views
                            .icon-small.icon-views.icon__stats
                                svg.icon: use(xlink:href="/img/sprite.svg#icon-eye")
                            span.blog__views--number= blog.views
            .main__blog--details
                .main__blog--published
                    .main__blog--publisher
                        .icon-small.icon-user.icon__details
                            svg.icon: use(xlink:href="/img/sprite.svg#icon-user")
                        .blog__author= blog.author.name
                    .main__blog--publishedDate
                        .icon-small.icon-date.icon__details
                            svg.icon: use(xlink:href="/img/sprite.svg#icon-calendar")
                        .blog__date Published on #{blog.createdAt.toDateString()}
                .main__blog--collections
                    .blog__heading--side.side__heading Collections
                    each collection in blog.collections
                        .collections__type= collection
                .main__blog--tags
                    .blog__heading--side.side__heading Tags
                    ul.main__blog--items
                        li.main__blog--skills #technology
                        li.main__blog--skills #science
                        li.main__blog--skills #blogger
                        li.main__blog--skills #artificialintelligence
                        li.main__blog--skills #zerotohero
                        li.main__blog--skills #techblogger
                        li.main__blog--skills #futuretechnology
            .main__blog--comments
                .comments__heading.side__heading Comments
                .currentUser__box
                    if user
                        .loggedUser__box
                            figure.user__img.currentUser__img
                                img.user__img--content.currentUser__content(src=`/img/${user.photo}` alt="User Photo")
                            textarea.commentBox(name="comment" placeholder="Your Comments here" id="comment"
                                cols="30" rows="4")
                            a.btn.btn-inline.comments__send(href="#") Send It!
                    else
                        .notLogged__box
                            p 
                                |Please 
                                a.btn.btn-inline.comments__login(href="#") login 
                                | to comment on this blog!
                    
                .previousComments
                    each comment in blog.comments
                        .previousComments__box
                            figure.user__img.previousComments__img
                                img.user__img--content.previousComments__content(src=`/img/${comment.user.photo}` alt="User Photo")
                            .previousComments__comment= comment.comment