mixin sidebarLink(title, icon)
    li.user__sidebar--item(data-id=`${title.split(' ').join('')}`)
        a.user__sidebar--link(href=`/${user.name.split(' ').join('').toLowerCase()}/${title.split(' ').join('')}`)
            .icon-small.icon-sidebar
                svg.icon: use(xlink:href=`/img/sprite.svg#icon-${icon}`)
            .user__sidebar--text #{title}

html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")

        link(rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png")
        link(rel="manifest" href="/img/favicon/site.webmanifest")

        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="theme-color" content="#ffffff")

        link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,700,800,900&display=swap"
        rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Raleway:900&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:900&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Ubuntu:400,400i,500,700&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Sacramento&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="/css/style.css" type="text/css")

        script(src="/js/jquery.js")
        script(src="/js/jquery.waypoints.min.js")
        script(src="https://js.stripe.com/v3/")

        title Sravya | Web Development | Web Design | Business | Strategy

    body.user__body
        main.user__main
            if user
                header.header
                    .header__logo sravyacodes.in
                    .user__main--heading #{heading}
                    .user__controls
                        button.btn-logout Log out
                        a.user__link(href="#")
                            figure.user__img
                                img.user__img--content(src=`/img/${user.photo}` alt="User Image")
                            .user__name= user.name
                section.user__content
                    .sidebar__content
                        ul.user__sidebar
                            li.user__sidebar--item(data-id='dashboard')
                                a.user__sidebar--link(href=`/${user.name.split(' ').join('').toLowerCase()}`)
                                    .icon-small.icon-sidebar
                                        svg.icon: use(xlink:href=`/img/sprite.svg#icon-user`)
                                    .user__sidebar--text dashboard
                            +sidebarLink('orders', 'shopping-cart')
                            +sidebarLink('favourites', 'star')
                            +sidebarLink('ask a question', 'typing')
                            +sidebarLink('settings', 'cogs')
                        - if (user.role === 'admin')
                            .sidebar__role--heading.adminControls Admin Controls
                            ul.user__sidebar
                                +sidebarLink('inbox', 'mail')
                                +sidebarLink('manage blogs', 'pencil')
                                +sidebarLink('manage plans', 'circular-graph')
                                +sidebarLink('manage users', 'users')
                                +sidebarLink('manage coupons', 'price-tag')
                                +sidebarLink('statistics', 'stats-bars')
                    block content
                        .user__mainBody
                            if order
                                .recent.recent-order
                                    .recent__heading.recent-order__heading Recent Order
                                    .recent-order__box
                                        .recent__content.recent-order__content
                                            .recent__heading--side.recent-order__heading--side Order Details:
                                            .recent-order__item
                                                .recent-order__item--heading Plan:
                                                .recent-order__item--info.recen-order__plan #{plan.name}
                                            .recent-order__item
                                                .recent-order__item--heading Order Date:
                                                .recent-order__item--info.recent-order__orderDate #{order.orderPlaced.toDateString()}
                                            .recent-order__item
                                                .recent-order__item--heading Delivery Date:
                                                .recent-order__item--info.recent-order__deliveryDate #{order.deliveryDate.toDateString()}
                                            .recent-order__item
                                                .recent-order__item--heading Price:
                                                .recent-order__item--info.recent-order__paidAmount $#{plan.price}
                                            if order.coupon
                                                .recent-order__item
                                                    .recent-order__item--heading Coupon applied:
                                                    .recent-order__item--info.recent-order__paidAmount #{order.coupon.name}
                                                .recent-order__item
                                                    .recent-order__item--heading order price:
                                                    .recent-order__item--info.recent-order__paidAmount $#{order.orderPrice.toFixed(2)}
                                            .recent-order__item
                                                .recent-order__item--heading project under:
                                                ul.recent-order__item--info.projectHead__box
                                                    each head in plan.supervisedBy
                                                        li.recent-order__projectHead #{head.name} (#{head.role})
                                        .recent-order__buttons
                                            a.recent-order__links.btn.btn-inline.btn-progress(href="#") Check Progress
                                            a.recent-order__links.btn.btn-inline.btn-invoice.btn-green(href="#") View Invoice
                            else
                                .noOrders__box
                                    .noOrders__message No Orders Yet :(
                                    a(href="/plans").plans__card--button.btn.btn-inline see plans &rarr;
                            .recent.recent-update
                                .recent__heading.recent-update__heading Recent Updates
                                .recent-update__content.recent__content
                                    .recent-update__update
                                        .recent__heading--side.recent-update__update--heading Password Changed on:
                                        if user.passwordChangedAt
                                            .recent-update__update--info #{user.passwordChangedAt}
                                        else
                                            .recent-update__update--info #{user.createdAt.toDateString()}
                                    //- .recent-update__update
                                    //-     .recent__heading--side.recent-update__update--heading Cover Image Changed on:
                                    //-     .recent-update__update--info 3 March, 2018
                            .recent-blog
                                a.recent-blog__link(href=`/blogs/${blog.slug}`)
                                    figure.recent-blog__box
                                        .recent__heading--side.recent-blog__heading Read Latest Blog
                                        .main__blog--overlay &nbsp;
                                        img.recent-blog__img.main__blog--content(src=`/img/${blog.image}` alt="Blog Image")
                                        .main__blog--heading.recent__heading--side #{blog.title}
            else
                include _header
                section.user__mainBox
                    form(action="#").login
                        .form__box.auth__box.form__email
                            input(type="email" name="login-email" placeholder="Email Address" required).form__input.auth__input
                            label(for="login-email").form__label.auth__label Email Address
                        .form__box.auth__box.form__password
                            input.form__input.auth__input(type="password" minlength="8" name="login-password" placeholder="Password" required)
                            label(for="login-password").form__label.auth__label Password
                        .form-buttons.auth-buttons
                            button.btn.btn-inline.btn-login log In
                            button.btn.btn-inline.btn-signup register


    script(src="/js/bundle.js")
